---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
<h3>2023</h3>
<ol>
  <li>
    Fred Weiying Zhang, Jiaxin Ye, and Zhuoran Yang. 
    <a href="https://openreview.net/pdf?id=5IH0pideQK" target="_blank">
      In-Context Multi-Armed Bandits via Supervised Pretraining.
    </a>
    <em>NeurIPS 2023 Workshop Foundation Models for Decision Making</em>, 2023.
  </li>
</ol>


<!-- New style rendering if publication categories are defined -->
<!--
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
-->
